%h1 Listing flavors
.container
.row
  - @flavors.each_with_index do |flavor, index|
    .col-md-4.col-md-offset-4
      .row
        %img.img-thumbnail{:src => File.join(".","flavorsUploads",flavor.flavorImgURL), :height=>"150px"}/
        // =link_to  do flavor end
      .row
        %p= flavor.name
        
// %table
// %table
//   %thead
//     %tr
//       %th Name
//       %th Flavorimgurl
//       %th
//       %th
//       %th

//   %tbody
//     - @flavors.each do |flavor|
//       %tr
//         %td= flavor.name
//         %td= flavor.flavorImgURL
//         %td= link_to 'Show', flavor
//         %td= link_to 'Edit', edit_flavor_path(flavor)
//         %td= link_to 'Destroy', flavor, method: :delete, data: { confirm: 'Are you sure?' }

// %br


// %a.btn-floating.btn-lg.purple-gradient
//   %i.fa.fa-bolt

= link_to 'New Flavor', new_flavor_path
