// %h1 Editing user

// = render 'form'

// = link_to 'Show', @user
// \|
// = link_to 'Back', users_path

// %h1 Edit users

// = form_tag edit_session_path do

//   = label :user, :userName, 'User Name'
//   = text_field :user, 'userName'
//   = @user.userName
//   <br><br>
  
//   = label :user, :password, 'Password'
//   = text_field :user, 'password'
//   <br>

//   = label :user, :name, 'Name'
//   = text_field :user, 'name'
//   <br>
  
//   = label :user, :lastName, 'Last Name'
//   = text_field :user, 'lastName'
//   <br>

//   = label :user, :phone, 'Phone'
//   = text_field :user, 'phone'
//   <br>
  
//   = label :user, :email, 'Email'
//   = text_field :user, 'email'
//   <br>

//   = label :user, :address, 'Address'
//   = text_area :user, 'address'
//   <br>
  
//   = submit_tag 'Save Changes'


// = link_to 'Back', users_path
