!!!
%html{:lang => "en"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "UTF-8"}/
		%meta{:content => "", :name => "description"}/
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
		/ The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
		/ Title
		%title BerryDeli Cakes
		/ Favicon
		%link{:href => "img/core-img/favicon.ico", :rel => "icon"}/
		/ Core Stylesheet
		%link{:href => "style.css", :rel => "stylesheet"}/
		/ Responsive CSS
		%link{:href => "css/responsive/responsive.css", :rel => "stylesheet"}/
		/ <script type="text/javascript" src=""></script>
		%script{:language => "JavaScript"}
			:cdata
				var password = document.getElementById("passwordR")
				, confirm_password = document.getElementById("confirmPasswordR");
				
				function validatePassword(){
				if(password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords Don't Match");
				} else {
				confirm_password.setCustomValidity('');
				}
				}
				
				password.onchange = validatePassword;
				confirm_password.onkeyup = validatePassword;
	%body
		/ Preloader Start
		#preloader
			.yummy-load
		/ Background Pattern Swither
		/ <haml_loud> flash[:notice] </haml_loud>
		/ ****** Top Header Area Start ******
		.top_header_area
			.container
				.row
					.col-5.col-sm-6
						/ Top Social bar start
						.top_social_bar
							%a{:href => "https://www.facebook.com/berrydelicakes/"}
								%i.fa.fa-facebook{"aria-hidden" => "true"}
								Facebook
					/ Login Register Area
					.col-7.col-sm-6
						.signup-search-area.d-flex.align-items-center.justify-content-end
							.login_register_area.d-flex
								/ <input type="button" id="hw" value="Hello world" />
								-if logged_out?
									.login
										%a#loginLink{"data-target" => "#loginModal", "data-toggle" => "modal", :href => "#"} Sign in 
									.register
										%a#registerLink{"data-target" => "#registerModal", "data-toggle" => "modal", :href => "#"} Sign up
								-if signged_in?
									.login
										Hi
										%a=  User.find(session[:user_id]).userName
									.signout
										%a#signoutLink{"data-target" => "#signoutModal", "data-toggle" => "modal", :href => "#"} Sign out
								/ <div class="signout">
								/ <button type="button" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#loginModal" id="shareStory">Sing out</button>
								/ <a href="#" data-toggle="modal" data-target="#signoutModal" id="signoutLink">Sign out</a>
								/ </div>
							/ Search Form
							/ <div class="search-hidden-form">
							/ <form action="#" method="get">
							/ <input type="search" name="search" id="search-anything" placeholder="What would you like?">
							/ <input type="submit" value="" class="d-none">
							/ <span class="searchBtn"><i class="fa fa-times" aria-hidden="true"></i></span>
							/ </form>
							/ </div>
		/ ****** Top Header Area End ******
		/ ****** Header Area Start ******
		%header.header_area
			.container
				.row
					/ Logo Area Start
					.col-12
						.logo_area.text-center
							%a.yummy-logo{:href => "/"} BerryDeli Cakes
				.row
					.col-12
						%nav.navbar.navbar-expand-lg
							%button.navbar-toggler{"aria-controls" => "yummyfood-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#yummyfood-nav", "data-toggle" => "collapse", :type => "button"}
								%i.fa.fa-bars{"aria-hidden" => "true"}
								Menu
							/ Menu Area Start
							#yummyfood-nav.collapse.navbar-collapse.justify-content-center
								%ul#yummy-nav.navbar-nav
									%li.nav-item.active
										%a.nav-link{:href => "/"}
											Home
											%span.sr-only (current)
									%li.nav-item
										%a.nav-link.previous{:href => "/cakes"} Previous Designs
									%li.nav-item
										%a.nav-link{:href => "/flavors"} Flavors
									%li.nav-item
										%a.nav-link{:href => "/contacts"} Contact Me
									-if(session[:user_id]!=nil)
										%li.nav-item
											%a.nav-link{:href => "/cake_orders"} My Orders
										%li.nav-item
											%a.nav-link{:href => "/users/"+session[:user_id].to_s+"/edit"} My Profile
									-if current_user!=nil
										-if current_user.role == true
											%li.nav-item
												%a.nav-link{:href => "/users"} Users 		
		/ ****** Header Area End ******
		/ ****** Welcome Post Area Start ******
		%section.welcome-post-sliders.owl-carousel
			/ Single Slide
			.welcome-single-slide
				/ Post Thumb
				%img{:alt => "", :src => "img/bg-img/slide-1.jpg"}/
				/ Overlay Text
				.project_title
					.post-date-commnents.d-flex
						%a{:href => "https://www.facebook.com/berrydelicakes/"} June 20, 2017
						%a{:href => "https://www.facebook.com/berrydelicakes/"} For Our Newest Designs!
					%a{:href => "https://www.facebook.com/berrydelicakes/"}
						%h5 Follow me!
			/ Single Slide
			.welcome-single-slide
				/ Post Thumb
				%img{:alt => "", :src => "img/bg-img/slide-2.jpg"}/
				/ Overlay Text
				.project_title
					.post-date-commnents.d-flex
						%a{:href => "https://www.facebook.com/berrydelicakes/"} July 20, 2017
						%a{:href => "https://www.facebook.com/berrydelicakes/"} For Our Newest Designs!
					%a{:href => "https://www.facebook.com/berrydelicakes/"}
						%h5 Follow Me!
			/ Single Slide
			.welcome-single-slide
				/ Post Thumb
				%img{:alt => "", :src => "img/bg-img/slide-3.jpg"}/
				/ Overlay Text
				.project_title
					.post-date-commnents.d-flex
						%a{:href => "https://www.facebook.com/berrydelicakes/"} July 20, 2014
						%a{:href => "https://www.facebook.com/berrydelicakes/"} For Our Newest Designs!
					%a{:href => "#"}
						%h5 Follow Me!
			/ Single Slide
			.welcome-single-slide
				/ Post Thumb
				%img{:alt => "", :src => "img/bg-img/slide-4.jpg"}/
				/ Overlay Text
				.project_title
					.post-date-commnents.d-flex
						%a{:href => "https://www.facebook.com/berrydelicakes/"} July 22, 2017
						%a{:href => "https://www.facebook.com/berrydelicakes/"} For Our Newest Designs!
					%a{:href => "https://www.facebook.com/berrydelicakes/"}
						%h5 Follow Me!
			/ Single Slide
			.welcome-single-slide
				/ Post Thumb
				%img{:alt => "", :src => "img/bg-img/slide-5.jpg"}/
				/ Overlay Text
				.project_title
					.post-date-commnents.d-flex
						%a{:href => "https://www.facebook.com/berrydelicakes/"} Dec 09, 2017
						%a{:href => "https://www.facebook.com/berrydelicakes/"} For Our Newest Designs!
					%a{:href => "https://www.facebook.com/berrydelicakes/"}
						%h5 Follow Me!
		/ ****** Welcome Area End ******
		/ ****** Categories Area Start ******
		%section#about.categories_area.clearfix
			.container
				.row
					.col-12.col-md-6.col-lg-4
						.single_catagory.wow.fadeInUp{"data-wow-delay" => ".3s"}
							%img{:alt => "", :src => "img/catagory-img/1.jpg"}/
							.catagory-title
								%a{:href => "/cakes"}
									%h5 Buy Now
					.col-12.col-md-6.col-lg-4
						.single_catagory.wow.fadeInUp{"data-wow-delay" => ".6s"}
							%img{:alt => "", :src => "img/catagory-img/2.jpg"}/
							.catagory-title
								%a{:href => "../cake_orders/new"}
									%h5 Build Your Own
					.col-12.col-md-6.col-lg-4
						.single_catagory.wow.fadeInUp{"data-wow-delay" => ".9s"}
							%img{:alt => "", :src => "img/catagory-img/3.jpg"}/
							.catagory-title
								%a#orderStatusLink{"data-target" => "#orderStatusModal", "data-toggle" => "modal", :href => "#"}
									%h5 Order Status
		/ ****** Categories Area End ******
		/ ****** Blog Area Start ******
		%section.blog_area.section_padding_0_80
			.container
				.row.justify-content-center
					.col-12.col-lg-8
						.row
							/ Single Post
							.col-12
								.single-post.wow.fadeInUp{"data-wow-delay" => ".2s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/1.jpg"}/
									/ Post Content
									.post-content
										%a{:href => "/cakes"}
											%h2.post-headline Make A Cup Of Tea and Enjoy Your Time!
										%p Today is a nice day! Order one cake, brew a cup of tea! It is time to enjoy your favorate cake with a cup of black tea! You deserve it!
										%a.read-more{:href => "/cakes"} Order Now!
							/ Single Post
							.col-12.col-md-6
								.single-post.wow.fadeInUp{"data-wow-delay" => ".4s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/2.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} June 20, 2017
										%h4.post-headline Our new creation
							/ Single Post
							.col-12.col-md-6
								.single-post.wow.fadeInUp{"data-wow-delay" => ".6s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/3.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} June 20, 2017
										%h4.post-headline Our super dad is going to me amazed by the taste of chocolate-mixed nuts cake
							/ Single Post
							.col-12.col-md-6
								.single-post.wow.fadeInUp{"data-wow-delay" => ".8s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/4.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} May 8, 2017
										%h4.post-headline A and J Wine Wedding Cake
							/ Single Post
							.col-12.col-md-6
								.single-post.wow.fadeInUp{"data-wow-delay" => "1s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/5.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} Dec 23, 2017
										%h4.post-headline Our first glazed mirror cake
							/ ******* List Blog Area Start *******
							/ Single Post
							.col-12
								.list-blog.single-post.d-sm-flex.wow.fadeInUpBig{"data-wow-delay" => ".2s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/6.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} July 22, 2017
										/%a{:href => "#"}
										%h4.post-headline Our special bridal shower cake
										%p It is an awsome cake for a wedding! They really like it!
										%a.read-more{:href => "/cakes"} Order it!
							/ Single Post
							.col-12
								.list-blog.single-post.d-sm-flex.wow.fadeInUpBig{"data-wow-delay" => ".4s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/7.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} Sep 17, 2017
										%h4.post-headline An awesome cake
										%p Is it a surprize? It is 100% edible decoration!
										%a.read-more{:href => "/cakes"} Order it!
							/ Single Post
							.col-12
								.list-blog.single-post.d-sm-flex.wow.fadeInUpBig{"data-wow-delay" => ".6s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/8.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} May 19, 2017
										%h4.post-headline An amazing chocolate cake!
										%p It is all edible! If you really love pumpkin, do not miss it!
										%a.read-more{:href => "/cakes"} Order it!
							/ Single Post
							.col-12
								.list-blog.single-post.d-sm-flex.wow.fadeInUpBig{"data-wow-delay" => ".8s"}
									/ Post Thumb
									.post-thumb
										%img{:alt => "", :src => "img/blog-img/9.jpg"}/
									/ Post Content
									.post-content
										.post-meta.d-flex
											.post-author-date-area.d-flex
												/ Post Author
												.post-author
													%a{:href => "https://www.facebook.com/berrydelicakes/"} By Johana Marcela
												/ Post Date
												.post-date
													%a{:href => "https://www.facebook.com/berrydelicakes/"} May 19, 2017
										%h4.post-headline Kongfu Panda!
										%p If you like Kongfu Panda or any other animation figures, you can make it a cake! It is not a joke!
										%a.read-more{:href => "/cakes"} Order it!
					/ ****** Blog Sidebar ******
					.col-12.col-sm-8.col-md-6.col-lg-4
						.blog-sidebar.mt-5.mt-lg-0
							/ Single Widget Area
							.single-widget-area.about-me-widget.text-center
								.widget-title
									%h6 About Me
								.about-me-widget-thumb
									%img{:alt => "", :src => "img/about-img/1.jpg"}/
								%h4.font-shadow-into-light Johana Marcela
								%p I am a baker, if you are feeling "cakey", please reach out!
							/ Single Widget Area
							.single-widget-area.subscribe_widget.text-center
								.subscribe-link
									%a{:href => "https://www.facebook.com/berrydelicakes/"}
										%i.fa.fa-facebook{"aria-hidden" => "true"}
										Facebook
							/ Single Widget Area
							.single-widget-area.popular-post-widget
								.widget-title.text-center
									%h6 Top Hits
								/ Single Popular Post
								.single-populer-post.d-flex
									%img{:alt => "", :src => "img/sidebar-img/1.jpg"}/
									.post-content
										%h6 Sugger Birthday cake!
										%p Choco-wine cake
								/ Single Popular Post
								.single-populer-post.d-flex
									%img{:alt => "", :src => "img/sidebar-img/2.jpg"}/
									.post-content
										%h6 The cake I like most
										%p Hat cake
								/ Single Popular Post
								.single-populer-post.d-flex
									%img{:alt => "", :src => "img/sidebar-img/3.jpg"}/
									.post-content
										%h6 Cake with most rebuy
										%p Chocolate-raspberry cake
								/ Single Popular Post
								.single-populer-post.d-flex
									%img{:alt => "", :src => "img/sidebar-img/4.jpg"}/
									.post-content
										%h6 Cake looks best
										%p Rose cake
								/ Single Popular Post
								.single-populer-post.d-flex
									%img{:alt => "", :src => "img/sidebar-img/5.jpg"}/
									.post-content
										%h6 Cake My friends like most
										%p Tiramisu
							/ Single Widget Area
							.single-widget-area.add-widget.text-center
								.add-widget-area
									%img{:alt => "", :src => "img/sidebar-img/6.jpg"}/
									.add-text
										.yummy-table
											.yummy-table-cell
												%h2 You Know You Want Some
												%a.add-btn{:href => "/cakes"} Order Now
							
		/ ****** Blog Area End ******
		/ ****** Instagram Area Start ******
		#portfolio.instargram_area.owl-carousel.section_padding_100_0.clearfix
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/1.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/2.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/3.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/4.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/5.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/6.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/1.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
			/ Instagram Item
			.instagram_gallery_item
				/ Instagram Thumb
				%img{:alt => "", :src => "img/instagram-img/2.jpg"}/
				/ Hover
				.hover_overlay
					.yummy-table
						.yummy-table-cell
							.follow-me.text-center
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									Like Me
		/ ****** Our Creative Portfolio Area End ******
		/ ****** Footer Social Icon Area Start ******
		.social_icon_area.clearfix
			.container
				.row
					.col-12
						.footer-social-area.d-flex
							.single-icon
								%a{:href => "https://www.facebook.com/berrydelicakes/"}
									%i.fa.fa-facebook{"aria-hidden" => "true"}
									%span facebook
		/ ****** Footer Social Icon Area End ******
		/ ****** Footer Menu Area Start ******
		%footer.footer_area
			.container
				.row
					.col-12
						.footer-content
							/ Logo Area Start
							.footer-logo-area.text-center
								%a.yummy-logo{:href => "/"} BerryDeli Cakes
							/ Menu Area Start
							%nav.navbar.navbar-expand-lg
								%button.navbar-toggler{"aria-controls" => "yummyfood-footer-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#yummyfood-footer-nav", "data-toggle" => "collapse", :type => "button"}
									%i.fa.fa-bars{"aria-hidden" => "true"}
									Menu
								/ Menu Area Start
								#yummyfood-footer-nav.collapse.navbar-collapse.justify-content-center
									%ul.navbar-nav
										%li.nav-item.active
											%a.nav-link{:href => "/"}
												Home
												%span.sr-only (current)
										%li.nav-item
											%a.nav-link.previous{:href => "/cakes"} Previous Designs
										%li.nav-item
											%a.nav-link{:href => "/flavors"} Flavors
										%li.nav-item
											%a.nav-link{:href => "/contacts"} Contact Me
										-if(session[:user_id]!=nil)
											%li.nav-item
												%a.nav-link{:href => "/cake_orders"} My Orders
											%li.nav-item
												%a.nav-link{:href => "/users/"+session[:user_id].to_s+"/edit"} My Profile
										-if current_user!=nil
											-if current_user.role == true
												%li.nav-item
													%a.nav-link{:href => "/users"} Users
			.container
				.row
					.col-12
						/ Copywrite Text
						.copy_right_text.text-center
							%p
								Copyright @2018 | BerryDeli Cakes
								%i.fa.fa-heart-o{"aria-hidden" => "true"}
		/ ****** Footer Menu Area End ******
		/ ALL THE LOGIN AND REGISTER PART
		#registerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					#registerView
						.modal-header
							%h4.modal-title.register Register
							%button.close{"data-dismiss" => "modal", :type => "button"}
								%span{"aria-hidden" => "true"} ×
								%span.sr-only Close
						.modal-body			
							.well
								%form#registerForm{:action => "/users", "data-toggle" => "validator", :method => "post"}
									.form-group
										%label.control-label{:for => "user[name]"} Name
										%input#nameR.form-control{:name => "user[name]", :placeholder => "Name", :title => "Please enter your name", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[lastname]"} Lastname
										%input#lastNameR.form-control{:name => "user[lastName]", :placeholder => "Lastname", :title => "Please enter your lastname", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[email]"} E-mail
										%input#emailR.form-control{:name => "user[email]", :placeholder => "E-mail", :title => "Please enter your email", :type => "email"}/
									.form-group
										%label.control-label{:for => "user[phone]"} Phone
										%input#phoneR.form-control{:name => "user[phone]", :placeholder => "Phone Number", :title => "Please enter your telephone", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[address]"} Address
										%input#addressR.form-control{:name => "user[address]", :placeholder => "Address", :title => "Please enter your address", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[userName]"} Username
										%input#usernameR.form-control{:name => "user[userName]", :placeholder => "Username", :required => "", :title => "Please enter your username", :type => "text"}/
										%span.help-block
									.form-group
										%label.control-label{:for => "user[password]"} Password
										%input#passwordR.form-control{:name => "user[password]", :pattern => ".{6,}", :placeholder => "Password", :required => "", :title => "6 min password required", :type => "password"}/
										/
											<input type="password" class="form-control" id="passwordR" name="user[password]" required title="Please enter your password" placeholder="Password">
										%span.help-block Min. 6 characters
										/ <input type="password" placeholder="Password" id="password" required>
										/ <input type="password" placeholder="Confirm Password" id="confirm_password" required>
									.form-group
										%label.control-label{:for => "user[password]"} Confirm Password
										%input#confirm_passwordR.form-control{:name => "user[passwordConfirm]", :placeholder => "Confirm Password", :required => "", :title => "Confirm password", :type => "password"}/
										/ <input type="password" class="form-control" id="confirmPasswordR" name="user[passwordConfirm]" required title="Confirm password" placeholder="Confirm Password">
										%span.help-block
										#registerErrorMsg.alert.alert-danger.collapse{:role => "alert"} Register error
										%button.btn.contact-btn.btn-block{:type => "submit"} Register
		#loginModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					#loginView
						.modal-header
							%h4.modal-title.login Login
							%button.close{"data-dismiss" => "modal", :type => "button"}
								%span{"aria-hidden" => "true"} ×
								%span.sr-only Close
						.modal-body
							.well
								%form#loginForm{:action => "/sessions", :method => "post"}
									.form-group
										%label.control-label{:for => "username"} Username
										%input#usernameL.form-control{:name => "username", :placeholder => "Username", :required => "", :title => "Please enter your username", :type => "text"}/
									.form-group
										%label.control-label{:for => "password"} Password
										%input#passwordL.form-control{:name => "password", :placeholder => "Password", :required => "", :title => "Please enter your password", :type => "password"}/
									#loginErrorMsg.alert.alert-danger.collapse{:role => "alert"} Login error
									%button.btn.contact-btn.btn-block{:type => "submit"} Login
		#editModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					#editView
						.modal-header
							%h4.modal-title.register Edit
							%button.close{"data-dismiss" => "modal", :type => "button"}
							%span{"aria-hidden" => "true"} ×
							%span.sr-only Close
						.modal-body
							.well
								%form#editForm{:action => "/session/edit", "data-toggle" => "validator", :method => "post"}
									.form-group
										%label.control-label{:for => "user[name]"} Name
										%input#nameR.form-control{:name => "user[name]", :placeholder => "Name", :title => "Please enter your name", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[lastname]"} Lastname
										%input#lastNameR.form-control{:name => "user[lastName]", :placeholder => "Lastname", :title => "Please enter your lastname", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[email]"} E-mail
										%input#emailR.form-control{:name => "user[email]", :placeholder => "E-mail", :title => "Please enter your email", :type => "email"}/
									.form-group
										%label.control-label{:for => "user[phone]"} Phone
										%input#phoneR.form-control{:name => "user[phone]", :placeholder => "Phone Number", :title => "Please enter your telephone", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[address]"} Address
										%input#addressR.form-control{:name => "user[address]", :placeholder => "Address", :title => "Please enter your address", :type => "text"}/
									.form-group
										%label.control-label{:for => "user[userName]"} Username
										%input#usernameR.form-control{:name => "user[userName]", :placeholder => "Username", :required => "", :title => "Please enter your username", :type => "text"}/
										%span.help-block
									.form-group
										%label.control-label{:for => "user[password]"} Password
										%input#passwordR.form-control{:name => "user[password]", :pattern => ".{6,}", :placeholder => "Password", :required => "", :title => "6 min password required", :type => "password"}/
										/
											<input type="password" class="form-control" id="passwordR" name="user[password]" required title="Please enter your password" placeholder="Password">
										%span.help-block Min. 6 characters
										/ <input type="password" placeholder="Password" id="password" required>
										/ <input type="password" placeholder="Confirm Password" id="confirm_password" required>
									.form-group
										%label.control-label{:for => "user[password]"} Confirm Password
										%input#confirm_passwordR.form-control{:name => "user[passwordConfirm]", :placeholder => "Confirm Password", :required => "", :title => "Confirm password", :type => "password"}/
										/ <input type="password" class="form-control" id="confirmPasswordR" name="user[passwordConfirm]" required title="Confirm password" placeholder="Confirm Password">
										%span.help-block
									#registerErrorMsg.alert.alert-danger.collapse{:role => "alert"} Register error
									%button.btn.contact-btn.btn-block{:type => "submit"} Edit
		
		#signoutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					#signoutView
						.modal-header
							%h4.modal-title Signout
							%button.close{"data-dismiss" => "modal", :type => "button"}
								%span{"aria-hidden" => "true"} ×
								%span.sr-only Close
						.modal-body
							.well
								%form#signoutForm{:action => "/sessions/"+session[:user_id].to_s, :method => "post"}
									%input{:name => "_method", :type => "hidden", :value => "DELETE"}
									.form-group
										%label.control-label{:for => "username"} Do you want to really sign out?
									%button.btn.contact-btn.btn-block{:type => "submit"} Signout
		#orderStatusModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					#orderStatusView
						.modal-header
							%h4.modal-title Order Status
							%button.close{"data-dismiss" => "modal", :type => "button"}
								%span{"aria-hidden" => "true"} ×
								%span.sr-only Close
						.modal-body
							.well
								%form#OrderStatusForm{:action => "/cake_orders/", :method => "get"}
									.form-group
										%label.control-label{:for => "OrderId"} Order Id
										%input#OrderId.form-control{:name => "cake_orders[id]", :placeholder => "Order Id Number", :required => "", :title => "Order Id Number", :type => "text"}/
									%button#btnOrderStatus.btn.contact-btn.btn-block{:onclick => "window.location = /cake_orders/+document.getElementById('OrderId').value", :type => "button"} Check Order Status
		/ Jquery-2.2.4 js
		%script{:src => "js/jquery/jquery-2.2.4.min.js"}
		/ Popper js
		%script{:src => "js/bootstrap/popper.min.js"}
		/ Bootstrap-4 js
		%script{:src => "js/bootstrap/bootstrap.min.js"}
		/ All Plugins JS
		%script{:src => "js/others/plugins.js"}
		/ Active JS
		%script{:src => "js/active.js"}
		%script{:src => "js/check.js"}